.details-container{
    font-family: var(--primary-font-body-copy);
    /* background-color: blue; */
    width: 90%;
    height: 11rem;
    margin:auto;
    gap:10px;
    display:flex;

          .details-card{
                /* background-color: red; */
                width: 280px;
                height: 120px;
                margin:auto;
                display:flex;

                .details-icon{
                    height: 80%;
                    /* background-color:pink; */

                    img{
                        height:100%;
                        /* width:300px; */
                }
            }
          }
          .details-text{
            width: 220px;
                p{
                    font-size: 14px;
                }
          }
}

.picture-container{
    font-family: var(--primary-font-body-copy);
    /* background-color: red; */
    width:auto;
    height: 16rem;

        .image-container{
            /* background-color: violet; */
            width:90%;
            height:100%;
            /* border-radius: 500px 50px 500px 50px; */
            margin:auto;

            img{
                width:100%;
                height:100%;
                object-fit:cover;
                border-radius: 500px 50px 500px 50px;
                border: 2px solid var(--button-colour3);  
                object-position: 0% 80%;
            }
        }


}

.shop-by-container{
    font-family: var(--primary-font-body-copy);
    /* background-color: orange; */
    width: 90%;
    height: 400px;
    display:flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .shop-by-card{
        width: 220px;
        height: 350px;
        /* background-color: blue; */
        margin:auto;

        a{
            /* background-color:red; */
            display:block;
        }
        .shop-by-image{
            width: 220px;
            height: 300px;
            /* background-color: violet; */
            
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 30px;
                /* border: 1px solid var(--text-colour); */
                box-shadow: 0 8px 25px rgba(0, 0, 0, .25);
            }
        }
        
        .shop-by-text{
            text-align:center;
            line-height: 50px;
            font-family: var(--primary-font-web-copy);
            color: var(--text-colour);
            font-weight: 600;
        }
    }
}

.card-container{
    font-family: var(--primary-font-body-copy);
    /* background-color: green; */
    width: auto;
    height: 600px;
    align-items: center;
    justify-content: center;

        .product-card-grid-container{
            /* background-color: red; */
            max-width:1200px;
            margin:auto;
        }
}

