.eb-garamond-regular {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.forty-background {
    width: 781px;
    height: auto;
    background-color: #DAE6D7;
    border: none;
}

.logo {
    padding: 150px 0 0;
    width: 378px;
    margin: auto;
    text-align: center;
}

.container-container {
    width: 378px;
    height: auto;
    margin: auto;
    padding: 21px 0 0;
}

.header-container {
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 20px;
    color: #595E4E;
}

.title-container {
    width: 374px;
    height: 32px;
    background-color: #595E4E;
    border: 2px solid #33372A;
    border-radius: 10px;
    text-align: center;
    line-height: 32px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #C8D7C4;
}

.form-filler {
    width: 374px;
    height: 32px;
    background-color: #C8D7C4;
    border: 2px solid #595E4E;
    border-radius: 10px;
    line-height: 32px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    margin-top: 6px;
}

.form-filler-text {
    padding: 0 0 0 20px;
}

.form-filler-half {
    width: 180px;
    height: 32px;
    background-color: #C8D7C4;
    border: 2px solid #595E4E;
    border-radius: 10px;
    line-height: 32px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    margin-top: 15px;
}

.form-filler-half-container {
    display: flex;
    justify-content: space-between;
}

.form-filler-third {
    width: 115px;
    height: 32px;
    background-color: #C8D7C4;
    border: 2px solid #595E4E;
    border-radius: 10px;
    line-height: 32px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    margin-top: 6px;
}

.form-filler-third-container {
    display: flex;
    justify-content: space-between;
}

.form-filler-text-third {
    text-align: center;
}

.form-filler-double {
    width: 374px;
    height: 64px;
    background-color: #C8D7C4;
    border: 2px solid #595E4E;
    border-radius: 10px;
    line-height: 40px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    margin-top: 6px;
}


.button-selector-container {
    width: 374px;
    height: 32px;
    background-color: #C8D7C4;
    border: 2px solid #595E4E;
    border-radius: 10px;
    line-height: 32px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}

.button-selector-container-text {
    padding: 0 0 0 20px;
}

.selector-circle {
    width: 10px;
    height: 10px;
    background-color: #C8D7C4;
    border-radius: 10px;
    border: 4px solid #595E4E;
    margin: 7px;
    margin-right: 20px;
}

.button-selector-container:hover {
    background-color: #595E4E;
    border: 2px solid #C8D7C4;
    color: #C8D7C4;
    cursor: pointer;
}

.selector-circle:hover {
    background-color: #595E4E;
    border: 4px solid #C8D7C4;
    cursor: pointer;
}

.button-selector-container::selection {
    background-color: #595E4E;
    border: 2px solid #C8D7C4;
    color: #C8D7C4;
}

.selector-circle::selection {
    background-color: #595E4E;
    border: 4px solid #C8D7C4;
}

.save-button {
    width: 374px;
    height: 32px;
    background-color: #C8D7C4;
    border: 2px solid #595E4E;
    border-radius: 10px;
    line-height: 32px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    text-align: center;
    margin: auto;
    margin-top: 6px;
    transition: background-color 0.2s ease;
}

.save-button:hover {
    cursor: pointer;
    background-color: #595E4E;
    color: #C8D7C4;
}