.eb-garamond-regular {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    background-color: #F6F5F4;
}

.header-container {
    width: fill;
    height: 475px;
    background-color: #C8D7C4;
    margin-top: 169px;
}

.confirmation-title {
    font-family: "EB Garamond";
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    padding: 60px 0 0;
    color: #595E4E;
}

.confirmation-text {
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 32px;
    color: #595E4E;
    padding: 30px 0 0;
}

.confirmation-text1 {
    font-family: "Outfit", sans-serif;
    text-align: center;
    width: 842px;
    padding: 30px 0 0;
    font-size: 32px;
    color: #595E4E;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.confirmation-text2 {
    font-family: "Outfit", sans-serif;
    text-align: center;
    width: 842px;
    padding: 30px 0 0;
    font-size: 16px;
    color: #595E4E;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.summary-title {
    font-family: "EB Garamond";
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    color: #595E4E;
    padding: 60px 0 0;
}

.date-title {
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 32px;
    color: #595E4E;
    padding: 0 0 60px;
}

.summary-box {
    width: 969px;
    height: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: dotted;
}

.summary-info {
    width: 418px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.purchase-img {
    width: 290px;
    height: 415px;
    border-radius: 50px;
    background-color: #595E4E;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.item-title {
    font-family: "EB Garamond", sans-serif;
    font-weight: bold;
    color: #595E4E;
    font-size: 32px;
}

.item-price {
    font-family: "EB Garamond", sans-serif;
    font-weight: bold;
    color: #595E4E;
    font-size: 32px;
}

.delivery-information {
    font-family: "Outfit",sans-serif;
    color: #595E4E;
    font-size: 15px;
    margin: 5px 0 5px;
}

.total-cost-container{
    width: 969px;
    /* border:dashed; */
    margin:auto;
    display: flex;
    justify-content: right;
}

.cost-container {
    width: 421px;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* border: dotted; */
}

.information-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.money-information {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cost-information {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    margin: 5px 0 5px;
}

.cost-total {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #595E4E;
}


.billing-shipping-title {
    font-family: "EB Garamond", sans-serif;
    font-weight: bold;
    font-size: 64px;
    padding: 60px 0 0;
    text-align: center;
    color: #595E4E;
    border: dotted;
}

.billing-shipping-container {
    width: 846px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0 0;
    border: dotted;
}

.billing-information-detail-header {
    font-family: "EB Garamond", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #595E4E;
}

.billing-information-detail {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    padding: 5px 0 0;
}

.payment-header {
    font-family: "EB Garamond", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #595E4E;
    padding: 50px 0 0;
}

.payment-detail {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
}

.shipping-information-detail-header {
    font-family: "EB Garamond", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #595E4E;
}

.shipping-information-detail {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
    padding: 5px 0 0;
}

.shipping-header {
    font-family: "EB Garamond", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #595E4E;
    padding: 50px 0 0;
}

.shipping-detail {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #595E4E;
}

.continue-shopping-button {
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    width: 548px;
    height: 64px;
    background-color: #C8D7C4;
    color: #595E4E;
    line-height: 64px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: background-color 0.2s ease;
}

.continue-shopping-button:hover {
    cursor: pointer;
    background-color: #595E4E;
    color: #C8D7C4;
}