@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* @import "tailwindcss"; */

:root {
    --background-colour: #F6F5F4;
    --text-colour: #595E4E;
    --banner-colour-1: #C8D7C4;
    --banner-colour-2: #C8D7C480; /*banner colour with 50% opacity*/
    --button-colour: #E3EAE1;
    --radius-tile: 10px;
    --radius-image: 50px;
    --radius-button: 50px;

    --primary-font-web-copy: "EB Garamond",Georgia, serif;
    --primary-font-body-copy: "Outfit", Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--primary-font-body-copy);
    background-color: var(--background-colour);
    color: var(--text-colour);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-family: var(--primary-font-web-copy);
    letter-spacing: 0.1em;
    font-size: 128px;
    font-weight: normal;
}

h2 {
    font-family: var(--primary-font-web-copy);
    font-size: 64px;
    font-weight:bold;
}

h3 {
    font-family: var(--primary-font-web-copy);
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-family: var(--primary-font-web-copy);
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    font-weight: normal; 
}

h6 {
    font-size: 16px;
    font-weight: normal;
}

a {
    text-decoration: underline;
    color: var(--text-colour);
    font-family: var(--primary-font-web-copy);
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

a img{
    width:30px;
    height:30px;
}

ul {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
  font-size: 15px;
}

#root {
  isolation: isolate;
}

.colour-box-container{
    display: flex;
}

.colour-box-bg,
.colour-box-banner1,
.colour-box-banner2,
.colour-box-text,
.colour-box-button {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    color:black;
    margin: 10px;
}

.colour-box-bg{
    background-color: var(--background-colour);
}

.colour-box-banner1{
    background-color: var(--banner-colour-1);
}

.colour-box-banner2{
    background-color: var(--banner-colour-2);
}

.colour-box-text{
    background-color: var(--text-colour);

}
.colour-box-button{
    background-color: var(--button-colour);
}

.banner-link-container{
    width:auto;
    height: 3rem;
    display: flex;
    padding-right: 3vw;
    /* margin-bottom: 1rem; */
    justify-content:flex-end;
    align-items:center;
}

.banner-container{
    width: auto;
    /* height: 240px; */
    /* background-color:blue; */
    margin-bottom:5rem;
}

.banner-menu{
    width: auto;
    height: 42px;
    background-color:var(--banner-colour-1);
    justify-content: center;
    display:flex;
    align-items:center;
}

.banner-image{
    width: 100%;
    height: 180px;
    background: url('./assets/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--banner-colour-1);
}

.product-card-container {
    /* width: 400px; */
    /* height: 740px; */
    /* padding: 40px; */
    /* align-content:center; */
    /* margin: 20px; */
    /* border:dashed; */
}

.product-image {
    height: auto;
    width: auto;
    /* border: dotted; */
}

.product-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: var(--radius-image);
}

.product-card-container section{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 120px;
    overflow: hidden;
}

.product-header{
    height: 25px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.product-card-container button{
    width: 40%;
    background-color: var(--button-colour);
    border:none;
    color: var(--primary-font-body-copy);
    font-family: var(--primary-font-web-copy);
    cursor: pointer;

    height: 50px;
    border-radius: var(--radius-button);
}